:root {
  --background-color: white;
  --font-color: black;
  --logo-font-color: white;
  --primary-color: #800000;
  --button-text: white;
  --odd-bg-color: #eee;
  --hover-bg-color: #f5f5f5;
  --theme-switcher-button: #fff;

  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-mono: FMono-Regular, Consolas, DejaVu Sans Mono, Liberation Mono, Menlo, monospace;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Georgia, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji;

  --font-size-desktop: 18px;
  --font-size-mobile: 15px;

  --max-width: 1024px;
  --default-padding: 1rem;

  --bp-medium: 600px;
  --bp-large: 768px;

}

[data-theme="dark"] {
  --background-color: #1C1F20;
  --font-color: white;
  --logo-font-color: black;
  --primary-color: #00F5C9;
  --button-text: #171717;
  --odd-bg-color: #323536;
  --hover-bg-color: #141414;
  --theme-switcher-button: var(--background-color);
}

@mixin animation-underscore {
  content: "_";
  animation: blink-animation 1s steps(2, start) infinite;

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}

html,
body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;

  background: var(--background-color);
  color: var(--font-color);

  line-height: 1.5;
  font-size: var(--font-size-desktop);

  @media screen and (max-width: var(--bp-medium)) {
    font-size: var(--font-size-mobile);
  }
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--default-padding);
}

.page-content {
  margin-block: var(--default-padding);
}

a {
  box-sizing: border-box;
  display: inline;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;

  &:hover:not(.logo) {
    background: var(--primary-color) !important;
    color: var(--button-text);
  }
}

h1 {
  font-size: 2rem;
}

::selection {
  background: var(--primary-color);
  color: var(--button-text);
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: var(--default-padding);
  align-items: center;
  flex-wrap: wrap-reverse;
}

.btn {
  display: inline-flex;
  padding: 0.75em 1em;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0.25em 0.5em black;
  box-sizing: border-box;
  z-index: 1;
  opacity: 1;
  font-family: var(--font-mono);
  text-transform: lowercase;
  transition: all 350ms ease;

  &:hover {
    box-shadow: 0.15em 0.25em black !important;
  }

  &:active {
    box-shadow: 0 0 0 0.25em black !important;
  }

  &.primary {
    background: var(--primary-color);
    color: var(--button-text);

    &:hover {
      color: var(--button-text);
    }
  }

  &.center {
    text-align: center;
  }

  &.underscore::after {
    margin-left: 0.1em;
    @include animation-underscore;
  }
}

section.program ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {

    &:nth-child(even) {
      background-color: var(--odd-bg-color);
    }
  }

  .event {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 0.25fr;
    grid-template-areas: "time heading description type";

    @media screen and (max-width: 640px) {
      display: block;
    }

    &>* {
      padding: var(--default-padding);

    }

    h3 {
      grid-area: heading;
      margin: 0;
    }

    .time {
      grid-area: time;
    }

    p {
      margin: 0;
    }

    .type {
      width: max-content;
      height: max-content;
      padding: calc(var(--default-padding) / 2);
      border: 1px solid black;
      box-shadow: 0.125em 0.25em black;
      box-sizing: border-box;
      font-weight: 500;

      &.info {
        background-color: cyan;
      }

      &.talk {
        background-color: yellow;
      }

      &.lightning {
        background-color: blue;
      }
    }
  }
}