---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bergen Open Source-konferanse">
  <main>
    <h1>Become a sponsor</h1>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }
</style>
