---
import Layout from "../layouts/Layout.astro";
import { useTranslation } from "../i18n/utils";
const t = useTranslation(Astro.url);
---

<Layout title="Bergen Open Source-konferanse">
  <main>
    <h1>{t("sponsors.becomeTitle")}</h1>
     
    <div class="txtCont">
      <p>   
        <span class="heroTxt">Fribyte</span>
        {t("sponsors.become")}
        {t("sponsors.contact")}
      </p>
    </div>

[fribyte]: https://fribyte.no
    
    </p>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }

 .txtCont {
    width: 100%;

    p {
      font-size: 1.75rem;
      font-weight: 300;
    }
    a {
      width: max-content;
      margin: 6rem 0 0 0;
    }
  }
  .txtCont .heroTxt {
    color: #12e8be;
    font-weight: 500;
  }

   @media only screen and (min-width: 768px) {
    .imgTxtCont {
      flex-direction: row;
    }
    .imgCont {
      width: 50%;
    }
    .txtCont {
      width: 50%;
    }
  }

</style>
