.cont {
    background-color: #6A67E8;
    color: #F1F1F1;
    padding: 1rem 2rem;
}
.cont nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
        width: 20%;
        color: #F1F1F1;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 0;
    }
    ul {
        width: 60%;
        display: flex;
        gap: 3rem;
        font-size: 1.125rem;
        /* margin: 0 0 0 3rem; */

        li {
            position: relative;
            cursor: pointer;
        }
        li::after {
            width: 0%;
            height: 5px;
            content: '';
            display: block;
            background-color: #F1F1F1;
            position: absolute;
            bottom: -1;
            left: 12%;
            transition-duration: 0.25s;
        }
        li:hover::after {
            width: 75%;
        }
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        color: #282828;
        background-color: #12E8BE;
        padding: 0.75rem 3rem;
        border-radius: 20rem;
        transition-duration: 0.25s;

        img {
            opacity: 0.75;
        }
    }
    a:hover {
        padding: 1rem 5rem;
    }
}