---
import LanguageSwitch from "./LanguageSwitch.astro";
---

<footer class="cont">
  <nav>
    <LanguageSwitch />
  </nav>
  <span class="copyright">© 2024 BosKonf. All Rights Reserved</span>
</footer>
<style>
  .cont {
    background-color: #fefeff;
    color: #010100;
    padding: 3rem 2rem;
    text-align: center;
  }
  .cont nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .copyright {
    display: block;
    opacity: 0.75;
    margin: 1rem 0;
  }

  @media only screen and (min-width: 768px) {
    .cont nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
</style>
