---
import { languages } from "../i18n/translations";
import { getLangFromUrl } from "../i18n/utils";
import earth from "../../public/footer/earth.svg?raw";

function getOppositeLang() {
  return getLangFromUrl(Astro.url) == "no" ? "en" : "no";
}

function getUrl() {
  const lang = getOppositeLang();
  const url = Astro.url;
  if (lang == "no") {
    return "/" + url.pathname.split("/").slice(2).join("/");
  }
  // we do not want to use a trailing slash, assets breaks with a trailing slash
  return `/${lang}` + (url.pathname.slice(1) ? url.pathname : "");
}
function getText() {
  return languages[getOppositeLang()];
}
---

<a href={getUrl()}
  ><span class="icon"><Fragment set:html={earth} /></span><span
    >{getText()}</span
  ></a
>

<style>
  a {
    display: flex;
  }
  .icon {
    margin-right: 0.4rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
  }
</style>
