<footer class="footer">
  {{ macros::sponsors() }}
  <div class="footer-container">
    <a href="https://github.com/fribyte-code/boskonf.no/" target="_blank">Kildekode</a>
    <div class="theme-switcher">
      {{ load_data(path="static/img/icons/light.svg") | safe }}
      <label id="theme-switch" class="theme-switch switch" for="checkbox_theme">
        Temabytter
        <input type="checkbox" id="checkbox_theme" />
        <span class="slider round"></span>
      </label>
      {{ load_data(path="static/img/icons/dark.svg") | safe }}
    </div>
  </div>
</footer>