<header class="header">
  <a class="logo" href="/">
    {{ load_data(path="static/logo.svg") | safe }}
  </a>
  <nav>
    <ul>
      {% for the_page in config.extra.nav %}
        {% set path = the_page.path | replace(from="@/", to="") %}
        {% set_global page = "" %}
        {% if the_page.type == "page" %}
          {% set page = get_page(path=path) %}
        {% else %}
          {% set page = get_section(path=path) %}
        {% endif %}

        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
      {% endfor %}
      {% if config.extra.is_active %}
        <li>
          <a class="btn primary" href="{{ config.extra.event_registration_link}}" target="_blank">
            Meld deg på!
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
