<header class="header">
  <a class="logo" href="/">
    {{ load_data(path="static/logo.svg") | safe }}
  </a>
  <nav>
    <ul>
      {% for the_page in config.extra.nav %}
        {% set path = the_page.path | replace(from="@/", to="") %}
        {% set page = get_page(path=path) %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
      {% endfor %}
      {# TODO: Add ticket info page #}
      <li>
        <a class="btn primary" href="{{ config.extra.event_registration_link}}" target="_blank">
          Meld deg på!
        </a>
      </li>
    </ul>
  </nav>
</header>