{% macro event(event) %}
  {% set typeMap = load_data(literal='{
    "info": "Praktisk",
    "talk": "Foredrag",
    "lightning": "Lyntale"
  }', format="json") %}
  {% set type = typeMap[event.type] %}

  <article class="event">
    <h3 class="">{{ event.title }}</h3>
    <div class="event-time">
      <time 
        datetime="{{ event.from }}"
        aria-label="Starter {{ event.from | date(format="%c")}}"
      >
        {{ event.from | date(format="%R") }}
      </time>
      –
      <time
       datetime="{{ event.to }}"
      aria-label="Slutter {{ event.to | date(format="%c")}}"
      >
        {{ event.to | date(format="%R") }}
      </time>
    </div>
    <p class="">{{ event.description }}</p>
    <div class="type {{ event.type }}" aria-label="Type: {{ type }}">{{ type }}</div>
  </article>
{% endmacro event %}

{% macro program() %}
  {% set program = load_data(path="static/program.json") %}

  <section class="program page-content">
    <h2 class="">Programmet</h2>
    <ul class="">
      {% for event in program | sort(attribute="from") %}
        <li>
          {{ self::event(event=event) }}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endmacro progarm %}