.cont {
    max-width: var(--content-width);
    color: #F1F1F1;
}
.titleCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleCont .details {
    width: 100%;

    h2 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    p {
        margin: 0 0 2rem 0;
    }
}

/* speakers */
.speakersCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.speakersCont .cardCont {
    position: relative;
    transition-duration: 0.25s;
    width: 300px;
    height: 400px;
    background-color: #31313b;
    border-radius: 34px;
}
.speakersCont .cardCont:hover {
    transform: rotate(5deg);
}

.speakersCont .speakerInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4%;
    left: 10%;
    gap: 0;
    
    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    p {
        font-size: 0.75rem;
        font-weight: 500;
    }
}

@media only screen and (min-width: 768px) {
    .titleCont {
        flex-direction: row;
    }
    .titleCont .details {
        width: 70%;
    
        h2 {
            font-size: 5rem;
            line-height: 2rem;
        }
    }

    .speakersCont {
        flex-wrap: nowrap;
    }
}