---
import Schedule, {
  getProgram,
} from "../components/Main/Schedule/Schedule.astro";
import Sponsors from "../components/Main/Sponsors/Sponsors";
import { getLangFromUrl } from "../i18n/utils";
import type { BosKonfYear } from "../program/program";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const year = frontmatter.year as BosKonfYear;
const program = await getProgram(year, lang);
---

<Layout title="title">
  <main>
    <div class="markdown-text">
      <slot />
    </div>
    <Schedule year={year} language={lang} />
    <Sponsors sponsors={program.sponsors} language={lang} />
  </main>
</Layout>

<style>
  main {
    background-color: #fff;
    max-width: var(--content-width);
    margin: 0 auto;
  }
  .markdown-text {
    max-width: var(--content-width);
    padding: 1em;
  }
</style>
