---
import Schedule from "../components/Main/Schedule/Schedule.astro";
import Sponsors from "../components/Main/Sponsors.astro";
import { getLangFromUrl, useTranslation } from "../i18n/utils";
import type { BosKonfYear } from "../program/program";
import { getProgram } from "../program/programUtils";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const year = frontmatter.year as BosKonfYear;
const program = await getProgram(year, lang);
const t = useTranslation(Astro.url);
---

<Layout title={`${t("archive.title")} - ${year}`}>
  <main>
    <div class="markdown-text">
      <slot />
    </div>
    <Schedule program={program} />
  </main>
  <Sponsors sponsors={program.sponsors} />
</Layout>

<style>
  main {
    color: #fff;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 1em;
  }
  .markdown-text {
    max-width: var(--content-width);
    margin-bottom: 3rem;
  }
</style>
