{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = section.title ~ ' - ' ~ config.title %}
  {% set description = section.description %}
{% endblock head %}

{% block content %}
  <section class="page-content">
    {{ section.content|safe }}

    {% if section.extra.join_button %}
      <a class="btn primary" href="{{ config.extra.event_registration_link}}" target="_blank">Meld deg på!</a>
    {% endif %}
  </section>
  {% if section.extra.is_archive_page %}
    {% set section = get_section(path="arkiv/_index.md") %}
    <ul class="">
      {% for page in section.pages %}
        <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if section.extra.program %}
    {{ macros::program(programPath=section.extra.program) }}
  {% endif %}
{% endblock content %}
